<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<!-- <link rel="apple-touch-icon" sizes="76x76" href="">
	<link rel="icon" type="image/png" href=""> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Automotoras</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="description" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="" />
	<meta property="og:image:width" content="" />
	<meta property="og:image:height" content="" />
	<meta name="twitter:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:site" content="" />
	<link href="./assets/css/app.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-numeral-filter/dist/vue-numeral-filter.min.js"></script>
</head>

<body>


	<section class="body-section">


		<div class="container mt-40" id="app">
			<div class="row">
				<div class="col-sm-6">
					<h4 class="section-title">{{cars.length}} vehículo(s)</h4>
				</div>
				<div class="col-sm-6 text-right">
				</div>
			</div>
			
			<div class="table-responsive">
				<table class="table table-cutom table-hover table-carlist">
					<thead>
						<tr>
							<th>N°</th>
							<th>Código /
								<br> Patente</th>
							<th>Vehículo</th>
							<th>Kilometraje</th>
							<th>Precio</th>
							<th>Vistas (V)</th>
							<th>
								DP
								<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Días Publicados"></i>
							</th>
							<th>
								DPV
								<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Días Promedio Venta"></i>
							</th>
							<th>Leads
								<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Suma de Mensajes y Llamadas"></i>
							</th>
							<th>Salud de
								<br>Publicación
								<i class="fa fa-question-circle health-question" data-container="body" data-toggle="popover" data-placement="bottom"  data-trigger="hover"
								data-content="Compuesto por la fotografías (45%), fotos 360 (5%), Uso de minúsculas en description de vehículo (25%) y largo de comentarios (25%).">
								</i>
							</th>
							<th>Aviso</th>
							<th>
								<input class="custom-checkbox" id="checkall" type="checkbox" value="">
								<label for="checkall" title="Seleccionar todos"></label>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in cars">
							<td>{{item.id}}</td>
							<td>
								<a href="#!" title="Ver Publicación" target="_blank"> 650087 /
									<br>AA0001 </a>
							</td>
							<td>
								<div class="media car-details">
									<div class="media-left">
										<a href="#!" title="Ver Publicación" target="_blank">
											<img class="media-object" src="./assets/img/car.jpg" alt="">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">{{item.carmark}} {{item.carmodel}}</h4>
										<span>1.5 GLI <span>{{ item.auto ? 'AUTO':'MANUAL'}} </span></span>
										<span class="caryear">{{item.caryear}}</span>
									</div>
								</div>
							</td>
							<td>{{item.km | numeral('0,0') }} KMs</td>
							<td>{{item.price | numeral('$0,0') }}</td>
							<td>{{item.vistas}}</td>
							<td>
							<span v-if="item.dp > item.dpv" class="post-days red">
								{{item.dp}}
							</span>								
							<span v-else class="post-days green">
								{{item.dp}}
							</span>
							</td>
							<td>{{item.dpv}}</td>
							<td class="item-leads">
								<div class="lead-prom">{{item.mails + item.calls}}</div>
								<span title="Mensajes recibidos"><i class="fa fa-envelope"></i> {{item.mails}}</span> +
								<span title="Llamadas recibidas"><i class="fa fa-phone"></i> {{item.calls}}</span>
							</td>
							<td>
								<div class="post-health">

									<ul>
										<li>
											<i class="fa fa-camera" aria-hidden="true" title="Fotos agregadas"></i> <strong>20</strong>
											/25
										</li>
										<li>
											<!-- <i class="fa fa-camera-retro" aria-hidden="true" title="Fotos 360"></i> 360 -->
											<div class="icon360" title="Fotos 360"></div>
											<strong>NO</strong>
										</li>
										<li>
											<i class="fa fa-comment-o" aria-hidden="true" title="Puntaje en comentario"></i> 5%</li>
									</ul>

									<!-- <i v-if="item.health = 100" class="fa fa-battery-full health-score high" title="Salud Alta" aria-hidden="true"></i> -->

									<i v-if="item.health < 81 && item.health > 49"  class="fa fa-battery-half health-score-icon medium" title="Salud media" aria-hidden="true"></i>

									<i v-if="item.health > 80" class="fa fa-battery-3 health-score-icon high" title="Salud alta" aria-hidden="true"></i>

									<i v-if="item.health < 50" class="fa fa-battery-quarter health-score-icon low" title="Salud baja" aria-hidden="true"></i> 

									<span class="health-score">%{{item.health}}</span>

								</div>
							</td>
							<td>
								<a href="#!">
									<img src="./assets/img/icons/print-post.png" class="print-icon"> Imprimir
								</a>
							</td>
							<td class="text-center">
								<input class="custom-checkbox" :id="'check'+item.dpv" type="checkbox" value="">
								<label :for="'check'+item.dpv"></label>
							</td>

						</tr>

					</tbody>

				</table>
			</div>


		</div>
	</section>
	<script type="text/javascript" src="./assets/js/app.bundle.js"></script>
</body>

</html>